<br/>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="container">
        <div class="row" *ngIf="!loading">
          <div
            class="col-sm-4 mb-2"
            *ngFor="let product of products"
          >
            <div class="item">
              <div class="mb-r">
                <div class="card card-cascade wider">
                  <a [routerLink]="['/cart', product.id]">
                    <div class="view overlay hm-white-slight">
                      <img
                        src="/assets/img/default-image.jpg"
                        class="img-fluid"
                        alt=""
                        width="360px"
                        height="640px"
                      />
                    </div>
                  </a>
                  <div class="card-body text-center no-padding">
                    <p class="card-title">
                      <strong>
                         {{ product.name }}
                      </strong>
                      <a [routerLink]="['/products', product.id]">
                        <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
                      </a>
                    </p>
                    <div class="card-footer">
                      <a
                          placement="top"
                          mdbTooltip="Add to Cart"
                          container="body"
                          (click)="addToCart(product)"
                        >
                        <span class="left">$ {{ product.price }}</span>
                        <span class="right">
                            <i class="fa fa-shopping-cart"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
