<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          href="javascript:void()"
          [routerLink]="['/products/all']">
          Products
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="javascript:void()"
          [routerLink]="['/products/cart-items']">
         <i class="fa fa-shopping-cart"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
